<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<h2>Login page</h2>

<form method="post">
    {% csrf_token %} 
    <!-- Username -->
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required autocomplete="off">
    <br>

    <!-- Password -->
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required autocomplete="off">
    <br>

    <!-- Submit Button -->
    <input type="submit" value="Login">
</form>

<a href="{% url 'signup' %}">Don't have an account? Signup here</a>

</body>
</html>
